/bench_raw.wav
/bench_zeta.wav
/config.py
/models_rvc
/test_input.wav
/test_raw.wav
/test_zeta.wav
Assets/
assets/
Assets/model/
*.moc3
*.model3.json
/venv
/vts_token.txt
/__pycache__
/cek_model.py
/cek_suara.py
/llm_client.py
/local_config.py
/main.py
/rvc_model.py
/test_zeta.py
/test_zeta_direct.py
/test_zeta_voice.py
/test_avatar_pygame.py
/test_avatar.py
/voicevox_engine.py
/vts_client.py
/yuki.py
/download_sample.py
/smart_tts.py
/server_hub.py
/setup_local_tts.py
/local_llm_client.py
/rvc_tts_engine.py

